[submodule "addIns/pelican-themes"]
	path = addIns/pelican-themes
	url = https://github.com/getpelican/pelican-themes.git
[submodule "addIns/pelican-plugins"]
	path = addIns/pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
